@define-color selected-text #a0997e;
@define-color text #dcdbd6;
@define-color base #232829;
@define-color border #a0997eac;
@define-color foreground #dcdbd6;
@define-color background #232829;
@define-color hover #5E5B4F;             
@define-color selected-box #5E5B4F;            

window .search-container,
window .search {
  background: alpha(@hover, 0.3);
  color: @foreground;
  border: 1px solid alpha(@border, 0.5);
  border-radius: 10px;
  padding: 2px 8px;
  margin-top: 1px;
  font-size: 10px;
  font-weight: 400;
}

.box-wrapper {
  border-radius: 18px;
}

child:selected {
  border-radius: 10px;
  background-color: alpha(@selected-box, 0.16);
  transition: all 0.9s ease-in;
  transition: background-color 0.22s ease-in;
}

child:selected .item-box {
  transition: all 0.09s ease-in;
  margin-left: 10px;
}

child:selected .item-box * {
  color: @text;
}



